<!DOCTYPE html>
<html lang="es">

{% include head.html %}

<body>
  {% include 2021/navbar.html %}

  <main role="main" class="container">
    <div style="padding-top: 1em" class="media">
      <span class="media-left">
        <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
      </span>
      <div class="media-body">
        <h3 class="main-header display-4" style="padding-left: 0.5em; font-size: 45px !important;">{{page.title}} en es<span style="color:red">Libre</a></h3>
      </div>
    </div>

    {{ content }}

    <br>
    <hr />
    <p style="text-align:center">
      <a href="/2021/">Volver al índice</a>
    </p>
  </main>

  {% include footer.html %}
  {% include js.html %}

</body>

</html>
