---
layout: 2021/message
section: proposals
permalink: /fallida/
title: Se ha producido un error
---

<p style="text-align: center; padding-bottom: 8em">
  <br><br>Parece que se ha producido un error al enviar la propuesta.<br><br>

  Por favor, vuelve a intentarlo en unos minutos, y si sigues teniendo cualquier problema escríbemos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a>.<br><br>

  Perdona por las molestias.
</p>
