---
layout: 2021/message
section: proposals
permalink: /recibida/
title: Sala 'EWOK Education With Open Knowledge'&#58 ¡¡¡propuesta recibida!!! 
---

<p style="text-align: center;">
  <strong>¡Muchas gracias por tu propuesta para la edición virtual de <strong>es<span class="red">Libre</span></strong> 2021 que está siendo organizada otro año más!</strong><br><br>

  Deberías haber recibido un email de confirmación desde <strong>tux@eslib.re</strong> (🐧).<br><br>

  Si has llegado a esta página, pero no te ha llegado el correo de confirmación, escríbemos a <a href="mailto:propuestas@eslib.re">propuestas@eslib.re</a><br>(comprueba también si por lo que sea hubiera ido a la carpeta de spam 😅).<br><br>

  Recuerda que este año <strong>el congreso se celebrará los días 25 y 26 de junio</strong> y que <strong>el programa final se publicará el 11 de junio</strong>, pero es muy posible que las personas responsables de la sala te confirmen mucho antes si <strong>tu propuesta</strong> ha sido aceptada.<br><br>

  En cualquier caso, no pierdas de vista <a href="https://gitlab.com/eslibre/propuestas-sala-ewok/-/merge_requests">tu propuesta en el repositorio de propuestas de la sala</a> por si hubiera algún comentario o pregunta<br>(el enlace que te debería haber llegado por correo te
  llevará directamente a ella).<br><br>

  Una vez sea aceptada de forma definitiva podrás encontrarla en la <a href="/2021/">página de propuestas aceptadas correspondiente de esta sala</a>.
</p>

<h3 style="padding-top: 20px; text-align: center;">¡¡¡HASTA PRONTO!!!<br>👏👏👏</h3>
