---
layout: 2021/list
section: proposals
permalink: /2021/charlas/
title: Charlas aceptadas para 'EWOK Education With Open Knowledge'
---

<ul id="list">
  {% for talk in site.pages %}
  {% if talk.path contains '2021/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
  {% unless talk.path contains 'canceladas' %}
  <li><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
<p style="padding-bottom: 16.5em"></p>
