---
layout: 2021/default
section: proposals
title: Propuestas para sala EWOK Education With Open Knowledge de esLibre 2021
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h3 class="main-header display-4" style="font-size: 35px !important;"><strong>Propuestas para sala EWOK Education With Open Knowledge de es<span class="red">Libre</span> 2021</strong></h3>
  </div>
</div>
<hr class="my-4">

<p>
  En esta sala se presentarán diferentes iniciativas de innovación docente que utilizan el software y el conocimiento libre como forma de mejora de la calidad educativa. La orientación principal del grupo que propone la sala es la innovación
  universitaria, pero estará abierta a propuestas de todos los niveles educativos, siempre que el cuerpo central sea una actividad que utilice alguna herramienta libre: software libre, creative commons, hardware libre, copyleft, Wikipedia, Open
  Street Maps o cualquier otra propuesta que entronque con esta filosofía.<br><br>
  Sin ser un criterio excluyente, nos gustaría prestar especial atención a aquellas iniciativas que incluyen además un objetivo de compromiso social. Por nuestra parte, haríamos la presentación de un programa de editatones en Wikipedia, un mapatón
  para ayudar a la misión de Cruz Roja en Burundi utilizando Open Street Maps y la traducción colaborativa del libro Medieval Hackers. Puedes encontrar la información sobre la sala en la <a
    href="https://propuestas.eslib.re/2021/salas/ewok-education-with-open-knowledge" target="_blank">página de su propuesta</a>.
</p>

<p>
  Finalmente vamos a tener las siguientes propuestas:
<ul id="list">
  {% for talk in site.pages %}
  {% if talk.path contains '2021/charlas' and talk.path contains '.md' and talk.category == 'talks' %}
  {% unless talk.path contains 'canceladas' %}
  <li><a href="/{{ talk.path | remove_first: ".md" }}">{{ talk.author }} - {{ talk.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
</p>
