---
layout: 2021/list
section: proposals
permalink: /2021/talleres/
title: Talleres aceptados para 'EWOK Education With Open Knowledge'
---

<ul id="list">
  {% for workshop in site.pages %}
  {% if workshop.path contains '2021/talleres' and workshop.path contains '.md' and workshop.category == 'workshops' %}
  {% unless workshop.path contains 'cancelados' %}
  <li><a href="/{{ workshop.path | remove_first: ".md" }}">{{ workshop.author }} - {{ workshop.title }}</a>
    {% endunless %}
    {% endif %}
    {% endfor %}
</ul>
<p style="padding-bottom: 16.5em"></p>
